@import "../../styles/helpers/index";

.button {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.375em;
  justify-content: center;
  letter-spacing: 0;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  transition-duration: $primary-transition-duration;
  transition-timing-function: $primary-timing-function;
  border: none;
  border-radius: $primary-border-radius;

  &--primary {
    color: #fff;
    transition-property: background, box-shadow;
    background: $color-accent;
    box-shadow: 0 1px 0 0 #D64D08, 0 2px 1px 0 rgba(0,0,0,0.10);

    &:hover,
    &:focus {
      background: $color-accent--active;
      box-shadow: 0 1px 0 0 #F7661D, 0 1px 5px 0 rgba(0,0,0,0.25);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
