@import "../../styles/helpers/index";

.ticket {
  $verticalPadding: 25px;

  display: flex;
  padding: $verticalPadding 20px;
  transition: box-shadow $primary-transition-duration $primary-timing-function;

  &:hover {
    box-shadow: 0 5px 25px 0 rgba(91,137,164,0.10);
  }

  &__col-cta {
    position: relative;
    flex-shrink: 0;
    width: 180px;
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: -$verticalPadding;
      bottom: -$verticalPadding;
      border-left: 1px solid $color-grey--light;
    }
  }

  &__col-info {
    flex-grow: 1;
    padding-left: 25px;
  }

  &__company-logo {
    text-align: center;
    margin-bottom: 20px;
  }

  &__btn-buy {
    width: 100%;
  }

  @include mq-max(767) {
    padding: 15px;
    display: block;

    &__col-cta{
      width: 100%;
      padding-right: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 15px;

      &::after {
        display: none;
      }
    }

    &__col-info {
      padding-left: 0;
    }

    &__company-logo {
      max-width: 80px;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    &__btn-buy {
      margin-left: 20px;
      width: auto;
      flex-grow: 1;
      max-width: 140px;
    }
  }
}
