@import "../../styles/helpers/index";

.tiles-list {
  &__item {
    list-style: none;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @include mq-max(767) {
    &__item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}
