@import "../../styles/helpers/index";

.filter {
  &__header {
    margin-bottom: 8px;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.58em;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  @include mq-max(767) {
    &__header {
      margin-bottom: 5px;
    }
  }
}
