@import "../../styles/helpers/index";

.filters {
  padding: 15px;

  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @include mq-max(1023) {
    &__item {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}
